#bin .mdl-card  {
    margin-bottom: 8px;
    width: 100%;
}

.bin-card {
    position: relative;
    min-height: 200px;
    box-sizing: border-box;
}

.bin-card-inner {
    padding: 8px;
    position: relative;
}

#battery-level .bin-card-inner {

    background-color: rgb(137, 192, 199);
}

#statistics .bin-card-inner {
    background-color: rgb(120, 143, 157);
    background-image: url("/img/types/recycle_square.png");
}

#graph .bin-card-inner {
    background-color: rgb(97, 64, 199);
}

.bin-card-content .bin-card-inner {
    background-repeat: no-repeat;
    background-position: 100% 100%;
    height: 147px;
    background-size: 45%;
}

.bin-card .mdl-card__title {
    padding: 16px;
}

.bin-card .mdl-card__title-text {
    font-size: 18px;
}

.bin-card.bin-card-content .bin-card-inner > div {
    width: calc(100% - 98px);
}

h2.section-header {
    color: #fff;
    font-size: 18px;
    margin: 0;
}

#graph h2.section-header {
    position: absolute;
    left: 56px;
    top: 30px;
}

#graph canvas {
    width: 100%;
    height: 200px;
}

.bin-card.bin-card-content .bin-card-inner span {
    display: block;
    color: #fff;
    font-size: 18px;
    line-height: 25px;
    font-weight: 200;
}

/* ADD BIN */
#select-picture-click {
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.bin-type-image {
    margin-bottom: 24px;
}

.bin-type-image img {
    width: 50px;
}

.bin-type-image span {
    padding-left: 24px;
}

.bin-type-image i {
    display: none;
    left: 4px;
    bottom: -4px;
    position: relative;
}

.bin-type-image.selected i {
    display: initial;
}









