#battery-level {
    background-color: #89c0c7;
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: 100% 100%;
    height: 200px;
    padding: 60px;
    box-sizing: border-box;
}

#battery-level h2 {
    color: #fff;
    font-size: 18px;
    margin: 0;
}

#battery-level span {
    font-size: 18px;
    font-weight: 400;
}

#graph canvas {
    width: 100%;
    height: 200px;
}

/* ADD BIN */
#select-picture-click {
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.bin-type-image img {
    width: 50px;
}

.bin-type-image i {
    display: none;
}

.bin-type-image.selected i {
    display: initial;
}









