#card-date {
    margin: 8px;
    width: calc(100% - 16px);
}

#filter-statistics-dialog .date-item {
    width: 48%;
    display: inline-block;
}

#filter-statistics-dialog .mdl-checkbox.show-bin {
    width: 49%;
    display: inline-block !important;
}

#filter-statistics-dialog .mdl-checkbox.show-bin:nth-child(odd) {
    margin-right: 2%;
}