body {
    font-family: "Roboto";
    font-weight: 300;
}

.mdl-layout {
    transform: translate3d(0, 0, 0);
}

.mdl-layout__content {
    background-color: #eee;
}

@media screen and (max-width: 1024px) {
    .mdl-layout--fixed-header .mdl-layout__header {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}

/* LAYOUTS */

body.full-width {
    
}

body.cards .page-content {
    padding: 8px;
}

body.content .page-content {
    padding: 16px;
}

body.form.full-width .page-content {
    padding: 16px 16px 16px 24px;
}

.page-content {
    /*margin-top: 56px;*/
}

body.white-background .mdl-layout__content {
    background-color: #fff;
}

/* DRAWER */

#drawer-user-name {
    padding-top: 16px;
    line-height: 36px;
}

#drawer-user-email {
    padding-left: 16px;
}

.mdl-navigation {
    position: relative;
    height: calc(100% - 72px);
}

#drawer-spacer {
    padding-bottom: 130px;
}

#drawer-footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.drawer-footer-link {
    background-color: #fafafa;
}

#drawer-settings-link {
    box-shadow: 0 -3px 3px -3px #aaa;
}

.mdl-navigation__link span {
    position: relative;
    top: -3px;
    padding-left: 24px;
}

.mdl-navigation__link i {
    position: relative;
    top: 3px;
}

.mdl-navigation__link.active {
    background-color: #e5e5e5;
}

/* CARD */

.mdl-card {
    min-height: 50px;
    width: 100%;
    transition: transform 0.3s ease-in-out, height 0.3s ease-in-out;
}

.mdl-card.hide {
    min-height: initial !important;
    height: 0 !important;
}

.two-to-one.mdl-card {
    margin-bottom: 8px;
    width: 100%;
    min-height: 150px;
    overflow: hidden;
}

.two-to-one.mdl-card .card-content-container {
    width: 60%;
}

.two-to-one.mdl-card .card-time {
    padding: 12px 16px 4px;
}

.two-to-one.mdl-card .card-time span {
    position: relative;
    top: -7px;
    padding-left: 16px;
    font-size: 12px;
}

.two-to-one.mdl-card .mdl-card__title, .two-to-one.mdl-card .mdl-card__supporting-text {
    padding: 0 16px 8px 16px;
}

.two-to-one.mdl-card .mdl-card__title-text {
    font-size: 16px;
}

.two-to-one.mdl-card.two-supporting-texts .mdl-card__title-text {
    padding-top: 16px;
}

.two-to-one.mdl-card .mdl-card__supporting-text i {
    position: absolute;
}

.two-to-one.mdl-card.two-supporting-texts .mdl-card__supporting-text > span {
    padding-left: 32px;
    line-height: 24px;
}

.two-to-one.mdl-card .mdl-card__actions {
    position: absolute;
    bottom: 0;
    width: 60%;
}

.two-to-one.mdl-card .mdl-card__actions .mdl-button {
    padding: 0 14px;
}

.two-to-one.mdl-card .card-image-container {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40%;
    height: 100%;
}

.two-to-one.mdl-card .card-image {
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 100% 100%;
}

.two-to-one.mdl-card .mdl-card__actions {
    padding-top: 4px;
    padding-bottom: 4px;
}

.text-card.mdl-card .mdl-card__supporting-text {
    position: absolute;
    padding: 8px 16px;
    width: calc(100% - 32px);
}

/* FIXED HEADER */
.mdl-layout__drawer-button i {
    margin-top: 12px;
}

.mdl-layout__header-row .mdl-textfield {
    padding: 23px 0 20px;
}

/* SCROLL HEADER */
.scroll-header .scroll-header-container {
    height: 200px;
    background-size: 100%;
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-position: 0 100%;
}

.scroll-header.fixed .fixed-header {
    display: none;
}

.scroll-header.fixed .page-content {
    margin-top: 200px;
}

.scroll-header.fixed .scroll-header-container {
    background-image: none !important;
    height: 56px;
    transition: background-color 0.6s;
    position: fixed;
    top: 0;
}

.scroll-header.fixed .scroll-header-container h1 {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 19px;
}

.scroll-header .scroll-header-container > i {

}

.scroll-header.fixed .scroll-header-container > i {
    display: none;
}

.scroll-header .mdl-layout__header-row {
    padding-left: 16px;
}

.scroll-header .scroll-header-container h1 {
    position: absolute;
    font-size: 20px;
    line-height: 1;
    letter-spacing: .02em;
    font-weight: 400;
    color: #fff;
    margin: 0;
    bottom: 17px;
    left: 0;
    transform: translate3d(16px, 0, 0);
    width: 90%;
}

.scroll-header .scroll-header-container .form-item {
    width: 100%;
}

.scroll-header .scroll-header-container form {
    width: 90%;
    left: 0;
    transform: translate3d(16px, 0, 0);
    bottom: -7px;
    position: absolute;
}

.scroll-header .scroll-header-container form input {
    border-bottom: 1px solid rgba(255,255,255,.3);
}

.scroll-header .scroll-header-container form .mdl-textfield__label {
    top: 27px;
    color: rgba(255,255,255,0.7);
}

.scroll-header .scroll-header-container form .mdl-textfield__label:after {
    background-color: rgba(255,255,255,.7);
    height: 1px;
}

.scroll-header .fixed-header {
    position: fixed;
    background-color: transparent;
}

.scroll-header .mdl-layout__drawer-button {
    background-color: transparent;
}

.scroll-header.scroll .scroll-header-item {
    visibility: hidden;
}

.header-position-container {
    height: 100%;
    position: relative;
}

.header-position {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.image-header {
    /*background-color: transparent;*/
}

.mdl-button--fab {
    position: fixed;
    bottom: 16px;
    right: 16px;
    transition: bottom 0.2s ease-in-out;
    z-index: 99999999;
}

.snackbar-visible .page-content {
    padding-bottom: 56px;
}

.snackbar-visible .mdl-button--fab {
    bottom: 64px;
}

.form-item {
    display: block;
}

/* MDL CORE ELEMENTS */
/* SNACKBAR */
.mdl-snackbar__text i {
    left: 24px;
    position: absolute;
}

.mdl-snackbar__text.has-icon span {
    padding-left: 24px;
}

/* DIALOG */
/*.mdl-js-dialog*/

/* FORMS */
body.form.full-width .main-form .form-item {
    padding-left: 36px;
    margin: 16px 0;
}

body.form.full-width .main-form .form-item:first-child {
    margin-top: 8px;
}

.valign {
    top: 50%;
    transform: translateY(-50%);
    position: relative;
}

.centerab {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.no-bullets {
    margin: 0;
    padding: 0;
}

.no-bullets li {
    list-style: none outside none;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.spinner {
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
}

#loader.spinner {
    padding-top: 20px;
    position: fixed;
    z-index: 2;
    top: 56px;
    transition: top 0.3s ease-in-out;
}

.tab-page #loader.spinner {
    top: 94px;
}

#loader.spinner.hide, #loader.spinner.hidden {
    top: -64px;
}

#loader.spinner > div {
    padding: 7px;
    height: 23px;
    border-radius: 50%;
    background-color: #fff;
}

#loader.spinner .mdl-spinner {
    width: 23px;
    height: 23px;
}

#loader.spinner .mdl-spinner__circle {
    border-width: 2px;
}

.dtp {
    transition: opacity 0.2s ease-in-out;
    opacity: 1;
}

.dtp.hide, .dtp.hidden {
    opacity: 0;
}

/* BIN TYPES */ /* BLACK BOX TYPES: bin-type--glass bin-type--tin bin-type--chemical */
/* BIN TYPES -> GENERIC */
.bin-type--waste .scroll-header-container, .bin-type--waste .card-image-container, .bin-type--waste.bin-type-el {
    background-color: rgba(239, 197, 30, 1);
}

.bin-type--plastic .scroll-header-container, .bin-type--plastic .card-image-container, .bin-type--plastic.bin-type-el  {
    background-color: rgba(33, 150, 243, 1);
}

.bin-type--organic .scroll-header-container, .bin-type--organic .card-image-container, .bin-type--organic.bin-type-el  {
    background-color: rgba(130, 186, 115, 1);
}

.bin-type--paper .scroll-header-container, .bin-type--paper .card-image-container, .bin-type--paper.bin-type-el  {
    background-color: rgba(235, 81, 81, 1);
}

/* BIN TYPES -> DETAIL */
.bin-type-detail.bin-type--waste .scroll-header-container {
    background-image: url("../img/types/waste_360x180.png");
}

.bin-type-detail.bin-type--plastic .scroll-header-container {
    background-image: url("../img/types/plastic_360x180.png");
}

.bin-type-detail.bin-type--organic .scroll-header-container {
    background-image: url("../img/types/organic_360x180.png");
}

.bin-type-detail.bin-type--paper .scroll-header-container {
    background-image: url("../img/types/paper_360x180.png");
}

.bin-type-detail.bin-type--none .header-position-container, .bin-type--none .scroll-header-container, .bin-type-card.bin-type--none .card-image {
    background-color: initial;
}

/* BIN TYPES -> CARD */
.bin-type-card.bin-type--waste .card-image {
    background-image: url("../img/types/waste_square.png");
}

.bin-type-card.bin-type--plastic .card-image {
    background-image: url("../img/types/plastic_square.png");
}

.bin-type-card.bin-type--organic .card-image {
    background-image: url("../img/types/organic_square.png");
}

.bin-type-card.bin-type--paper .card-image {
    background-image: url("../img/types/paper_square.png");
}






