body {
    font-family: "Roboto";
    font-weight: 300;
}

.mdl-layout__content {
    background-color: #eee;
}

@media screen and (max-width: 1024px) {
    .mdl-layout--fixed-header .mdl-layout__header {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}

/* LAYOUTS */

body.full-width {
    
}

body.cards .page-content {
    padding: 8px;
}

body.content .page-content {
    padding: 16px;
}

body.form.full-width .page-content {
    padding: 16px 16px 16px 24px;
}

.page-content {
    /*margin-top: 56px;*/
}

body.white-background .mdl-layout__content {
    background-color: #fff;
}

/* DRAWER */

#drawer-user-name {
    padding-top: 16px;
    line-height: 36px;
}

#drawer-user-email {
    padding-left: 16px;
}

.mdl-navigation {
    position: relative;
    height: calc(100% - 72px);
}

#drawer-spacer {
    padding-bottom: 130px;
}

#drawer-footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.drawer-footer-link {
    background-color: #fafafa;
}

#drawer-settings-link {
    box-shadow: 0 -3px 3px -3px #aaa;
}

.mdl-navigation__link span {
    position: relative;
    top: -3px;
    padding-left: 24px;
}

.mdl-navigation__link i {
    position: relative;
    top: 3px;
}

.mdl-navigation__link.active {
    background-color: #e5e5e5;
}

/* CARD */

.two-to-one.mdl-card {
    margin-bottom: 8px;
    width: 100%;
    min-height: 150px;
    overflow: auto;
}

.two-to-one.mdl-card .card-content-container {
    width: calc(60% - 32px);
}

.two-to-one.mdl-card .card-time {
    padding: 12px 16px 4px;
}

.two-to-one.mdl-card .card-time span {
    position: relative;
    top: -7px;
    padding-left: 16px;
    font-size: 12px;
}

.two-to-one.mdl-card .mdl-card__title, .two-to-one.mdl-card .mdl-card__supporting-text {
    padding: 0px 8px 8px 16px;
}

.two-to-one.mdl-card .mdl-card__title-text {
    font-size: 18px;
}

.two-to-one.mdl-card .mdl-card__actions {
    position: absolute;
    bottom: 0;
}

.two-to-one.mdl-card .card-image-container {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40%;
    height: 100%;
}

.two-to-one.mdl-card .card-image {
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 100% 100%;
}

.two-to-one.mdl-card .mdl-card__actions {
    padding-top: 4px;
    padding-bottom: 4px;
}

/* FIXED HEADER */
.mdl-layout__drawer-button i {
    margin-top: 12px;
}

.mdl-layout__header-row .mdl-textfield {
    padding: 23px 0 20px;
}

/* SCROLL HEADER */
.scroll-header .scroll-header-container {
    height: 200px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0 100%;
    width: 100%;
    position: relative;
}

.scroll-header.fixed .fixed-header {
    display: none;
}

.scroll-header.fixed .page-content {
    margin-top: 200px;
}

.scroll-header.fixed .scroll-header-container {
    background-image: none !important;
    height: 56px;
    transition: background-color 0.6s;
    position: fixed;
    top: 0;
}

.scroll-header.fixed .scroll-header-container h1 {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 19px;
}

.scroll-header .scroll-header-container > i {

}

.scroll-header.fixed .scroll-header-container > i {
    display: none;
}

.scroll-header .mdl-layout__header-row {
    padding-left: 16px;
}

.scroll-header .scroll-header-container h1 {
    font-size: 20px;
    line-height: 1;
    letter-spacing: .02em;
    font-weight: 400;
    color: #fff;
    margin: 0;
    bottom: 17px;
    left: 72px;
}

.scroll-header .scroll-header-container .form-item {
    width: 100%;
}

.scroll-header .scroll-header-container form {
    width: 60%;
    left: 60px;
    bottom: -7px;
    position: absolute;
}

.scroll-header .scroll-header-container form input {
    border-bottom: 1px solid rgba(255,255,255,.3);
}

.scroll-header .scroll-header-container form .mdl-textfield__label {
    top: 27px;
    color: rgba(255,255,255,0.7);
}

.scroll-header .scroll-header-container form .mdl-textfield__label:after {
    background-color: rgba(255,255,255,.7);
    height: 1px;
}

.scroll-header .fixed-header {
    position: fixed;
    background-color: transparent;
}

.scroll-header .mdl-layout__drawer-button {
    background-color: transparent;
}

.scroll-header.scroll .scroll-header-item {
    visibility: hidden;
}

.header-position-container {
    height: 100%;
    position: relative;
}

.header-position {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.image-header {
    background-color: transparent;
}

.mdl-button--fab {
    position: fixed;
    bottom: 16px;
    right: 16px;
    transition: bottom 0.2s ease-in-out;
    z-index: 99999999;
}

.snackbar-visible .mdl-button--fab {
    bottom: 64px;
}

.form-item {
    display: block;
}

.mdl-layout__header-row {
    /*background-color: rgb(130, 186, 115);*/
}

/* MDL CORE ELEMENTS */
/* SNACKBAR */
.mdl-snackbar__text i {
    left: 24px;
    position: absolute;
}

.mdl-snackbar__text.has-icon span {
    padding-left: 24px;
}

/* DIALOG */
/*.mdl-js-dialog*/

/* FORMS */
body.form.full-width .main-form .form-item {
    padding-left: 36px;
    height: 56px;
}

.valign {
    top: 50%;
    transform: translateY(-50%);
    position: relative;
}

.centerab {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.no-bullets {
    margin: 0;
    padding: 0;
}

.no-bullets li {
    list-style: none outside none;
}








